<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/x-icon" href="/assets/tab_icon.png">
    <title>Books</title>
</head>

<body>
    <div class="list-view">
        <div class="nav">
            <div class="nav-item home-icon"><a href="/index.html"><img
                        src="/assets/home_50dp_E8EAED_FILL0_wght200_GRAD200_opsz48.svg" alt="home icon"></a></div>
                        <div class="nav-item center-submenu">                  
                            <a href="/index.html"><span class="center-submenu-text">Home</span></a>
                            <a href="/blog/"><span class="center-submenu-text">Blog</span></a>
                            <a href="/views/tools.html"><span class="center-submenu-text">Tools</span></a>
                        </div>
            <div class="menu">
                <img class="menu-btn" src="/assets/menu_50dp_E8EAED_FILL0_wght200_GRAD200_opsz48.svg" alt="menu icon">
                <div class="menu-content">
                    <a href="/index.html">Home</a>
                    <a href="/blog">Blog</a>
                    <a href="/views/tools.html">Tools</a>
                    <a href="https://github.com/aliciamoses">Github</a>
                </div>
            </div>
        </div>
        <div class="list-content">
            <div class="list-content-header">
                <div class="divider">
                    <span class="divider-text">Books</span>
                </div>
            </div>
            <div class="two-column">
                <div class="list-group">
                    <h4>
                        <span class="list-header">/* python */</span>
                    </h4>
                    <ul class="list">
                        <li>
                            <a href="https://www.oreilly.com/library/view/python-cookbook-3rd/9781449357337/">Python
                                Cookbook</a>
                        </li>
                        <li>
                            <a href="https://www.oreilly.com/library/view/python-in-a/9781098113544/">Python
                                in a
                                Nutshell</a>
                        </li>
                        <li>
                            <a href="https://www.oreilly.com/library/view/test-driven-development-with/9781491958698/">Test-Driven
                                Development with Python</a>
                        </li>
                        <li>
                            <a href="https://www.oreilly.com/library/view/architecture-patterns-with/9781492052197/">Architecture
                                Patterns with Python</a>
                        </li>
                        <li>
                            <a href="https://www.oreilly.com/library/view/hypermodern-python-tooling/9781098139575/">Hypermodern
                                Python Tooling</a>
                        </li>
                        <li>
                            <a href="https://pythontest.com/pytest-book/">Python Testing with
                                Pytest</a>
                        </li>
                    </ul>
                </div>
                <div class="list-group">
                    <h4>
                        <span class="list-header">/* software engineering process */</span>
                    </h4>
                    <ul class="list">
    
                        <li>
                            <a href="https://themissingreadme.com/">The Missing README</a>
                        </li>
                        <li>
                            <a
                                href="https://www.pearson.com/en-us/subject-catalog/p/modern-software-engineering/P200000006914/9780137314911">Modern
                                Software Engineering</a>
                        </li>
                        <li>
                            <a href="https://www.oreilly.com/library/view/domain-driven-design-tackling/0321125215/">Domain-Driven
                                Design</a>
                        </li>
                        <li>
                            <a href="https://link.springer.com/book/10.1007/978-3-030-73484-8">Domain
                                Science and
                                Engineering</a>
                        </li>
                        <li>
                            <a href="https://book.antonandirene.com/">Universal Principles of
                                UX</a>
                        </li>
                        <li>
                            <a href="https://www.oreilly.com/library/view/creating-software-with/9798888650219/">Creating
                                Software with Modern Diagramming Techniques</a>
                        </li>
                        <li>
                            <a href="https://www.oreilly.com/library/view/mastering-postgresql-10/9781788472296/">Mastering
                                PostgreSQL 10</a>
                        </li>
                    </ul>
                    <ul class="list">
                        <h4>
                            <span class="list-header">/* problem-solving */</span>
                        </h4>
                        <li>
                            <a href="http://stephendavies.org/brisk.pdf">A Cool Brisk Walk
                                Through Discrete
                                Mathematics</a>
                        </li>
                        <li>
                            <a href="https://www.hup.harvard.edu/books/9780674244511">Elementary
                                Logic</a>
                        </li>
                        <li>
                            <a
                                href="https://www.taylorfrancis.com/books/mono/10.4324/9780203197035/logic-paul-tomassi">Logic</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="/scripts/dropdown.js"></script>
</body>

</html>