<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>tools</title>
</head>

<body>
    <div class="list-view-container">
        <div class="nav">
            <div class="menu">
                <img class="menu-btn" src="/assets/menu_24dp_E8EAED_FILL0_wght100_GRAD0_opsz24.svg" alt="menu">
                <div class="menu-content">
                    <a href="/index.html">home</a>
                    <a href="/views/reading.html">reading</a>
                    <a href="/views/blog.html">blog</a>
                    <a href="https://github.com/aliciamoses">github</a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="divider">
                <span class="divider-text">Tools</span>
            </div>
            <div class="three-column">
                <div class="div">
                    <h4 class="left">
                        <span class="list-header">/* git shortcuts */</span>
                    </h4>
                    <ul class="clean-list">
                        <li>
                            <a href="https://gist.new" target="_blank"><span class="list-key">GitHub
                                    Gist:</span>gist.new</a>
                        </li>
                        <li>
                            <a href="https://repo.new" target="_blank"><span class="list-key">GitHub
                                    Repo:</span>repo.new</a>
                        </li>
                        <li>
                            <a href="https://github.dev" target="_blank"><span
                                    class="list-key">Codespace:</span>github.dev</a>
                        </li>
                    </ul>
                    <h4 class="left">
                        <span class="list-header">/* docu shortcuts */</span>
                    </h4>
                    <ul class="clean-list">
                        <li>
                            <a href="https://doc.new" target="_blank"><span class="list-key">Google
                                    Docs:</span>doc.new</a>
                        </li>
                        <li>
                            <a href="https://sheet.new" target="_blank"><span class="list-key">Google
                                    Sheets:</span>sheet.new</a>
                        </li>
                        <li>
                            <a href="https://slide.new" target="_blank"><span class="list-key">Google
                                    Slides:</span>slide.new</a>
                        </li>
                        <li>
                            <a href="https://form.new" target="_blank"><span class="list-key">Google
                                    Forms:</span>form.new</a>
                        </li>
                        <li>
                            <a href="https://notion.new" target="_blank"><span
                                    class="list-key">Notion:</span>notion.new</a>
                        </li>
                        <li>
                            <a href="https://figma.new" target="_blank"><span
                                    class="list-key">Figma:</span>figma.new</a>
                        </li>
                        <li>
                            <a href="https://canva.new" target="_blank"><span
                                    class="list-key">Canva:</span>canva.new</a>
                        </li>
                    </ul>
                    <h4 class="left">
                        <span class="list-header">/* web dev shortcuts */</span>
                    </h4>
                    <ul class="clean-list">
                        <li>
                            <a href="https://pen.new" target="_blank"><span class="list-key">CodePen:</span>pen.new</a>
                        </li>
                        <li>
                            <a href="https://react.new" target="_blank"><span
                                    class="list-key">React:</span>react.new</a>
                        </li>
                        <li>
                            <a href="https://js.new" target="_blank"><span class="list-key">JavaScript:</span>js.new</a>
                        </li>
                        <li>
                            <a href="https://ts.new" target="_blank"><span class="list-key">TypeScript:</span>ts.new</a>
                        </li>
                        <li>
                            <a href="https://jsfiddle.net " target="_blank"><span
                                    class="list-key">JSFiddle:</span>jsfiddle.net</a>
                        </li>
                        <li>
                            <a href="https://developer.mozilla.org/en-US/play" target="_blank"><span
                                    class="list-key">Mozilla:</span>dev.mozilla.org/play</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 class="left">
                        <span class="list-header">/* compilers &amp; explorers */</span>
                    </h4>
                    <ul class="clean-list">
                        <li>
                            <a href="https://studio.apollographql.com/sandbox/explorer" target="_blank"><span
                                    class="list-key">GraphQL:</span>explorer</a>
                        </li>
                        <li>
                            <a href="https://www.postman.com/explore" target="_blank"><span
                                    class="list-key">Postman:</span>explorer</a>
                        </li>
                        <li>
                            <a href="https://pyodide.org/en/stable/console.html" target="_blank"><span
                                    class="list-key">Pyodide:</span>compiler</a>
                        </li>
                        <li>
                            <a href="https://www.programiz.com/sql/online-compiler/" target="_blank"><span
                                    class="list-key">SQL:</span>compiler</a>
                        </li>
                    </ul>
                    <h4 class="left">
                        <span class="list-header">/* linters &amp; validators */</span>
                    </h4>
                    <ul class="clean-list">
                        <li>
                            <a href="https://mypy-play.net" target="_blank"><span
                                    class="list-key">MyPy:</span>playground</a>
                        </li>
                        <li>
                            <a href="https://play.ruff.rs/" target="_blank"><span
                                    class="list-key">Ruff:</span>playground</a>
                        </li>
                        <li>
                            <a href="https://djlint.com/demo/" target="_blank"><span
                                    class="list-key">DjLint:</span>linter</a>
                        </li>
                        <li>
                            <a href="https://jsonlint.com" target="_blank"><span class="list-key">JSON:</span>linter</a>
                        </li>
                        <li>
                            <a href="https://eslint.org/play/" target="_blank"><span
                                    class="list-key">ESLint:</span>linter</a>
                        </li>
                        <li>
                            <a href="https://prettier.io/playground/" target="_blank"><span
                                    class="list-key">Prettier:</span>linter</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4 class="left">
                        <span class="list-header">/* diagramming */</span>
                    </h4>
                    <ul class="clean-list">
                        <li>
                            <a href="https://mermaid.live/" target="_blank"><span
                                    class="list-key">Mermaid:</span>editor</a>
                        </li>
                        <li>
                            <a href="https://excalidraw.com/" target="_blank"><span
                                    class="list-key">Excalidraw:</span>editor</a>
                        </li>
                        <li>
                            <a href="https://structurizr.com/dsl" target="_blank"><span
                                    class="list-key">Structurizr:</span>dsl editor</a>
                        </li>
                    </ul>
                    <h4 class="left">
                        <span class="list-header">/* data generators */</span>
                    </h4>
                    <ul class="clean-list">
                        <li>
                            <a href="https://data.nasdaq.com/publishers/QDL" target="_blank"><span
                                    class="list-key">Quandl:</span>api data</a>
                        </li>
                        <li>
                            <a href="https://mockaroo.com/" target="_blank"><span
                                    class="list-key">Mockaroo:</span>data</a>
                        </li>
                        <li>
                            <a href="https://cobbl.io/" target="_blank"><span class="list-key">Cobbl:</span>data</a>
                        </li>
                        <li>
                            <a href="https://truth-table.com" target="_blank"><span class="list-key">Truth
                                    Tables:</span>truth tables</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/scripts/dropdown.js"></script>
</body>

</html>